<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- ページタイトルを記入 -->
    <title>全文検索</title>
</head>

<body>

<style>
    .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

em {
  color: red;
}
.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

</style>


<section class="content-header">
    <div class="container">
        <!-- -fluidを外すと横幅が狭くなる-->
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>全文検索</h4>
            </div>
            <div class="col-18 text-right">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">

        <div th:replace="~{fragments/message-panel :: message-panel}"></div>

        <!-- ここより下にメインコンテンツを記入 -->
        <form autocomplete="off" enctype="multipart/form-data" method="get" th:action
              th:object="${documentFullSearchForm}">
            <div class="row">
                <div class="col-18 offset-10 mb-4 mt-5">
                    <div class="input-group">
                        <input class="form-control" name="q" th:value="*{q}" type="text"/>
                        <div class="input-group-append">
                            <button class="btn btn-button py-0">検索</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-20">
                    <th:block>
                        <select class="form-control"
                                name="sort" th:placeholder="${placeholder}">
                            <!--                    <option th:each="item : ${__${items}__}"-->
                            <!--                            th:text="${item.value}"-->
                            <!--                            th:value="${item.key}"></option>-->
                            <block>

                            </block>

                            <block th:if="${form != null}">
                                <option th:selected="${form.sort == 'title_sort'}" value="score">スコア順</option>
                                <option th:selected="${form.sort == 'lastModifiedDate'}" value="lastModifiedDate">
                                    最終更新日(降)
                                </option>
                            </block>
                            <block th:if="${form == null}">
                                <option value="score">Score順</option>
                                <option value="lastModifiedDate">最終更新日(降)</option>
                            </block>
                        </select>
                    </th:block>
                </div>
                <div class="col-4">
                    <th:block>
                        <select class="form-control"
                                name="period" th:placeholder="${placeholder}">
                            <!--                    <option th:each="item : ${__${items}__}"-->
                            <!--                            th:text="${item.value}"-->
                            <!--                            th:value="${item.key}"></option>-->
                            <block th:if="${form != null}">
                                <option th:selected="${form.period == 'not'}" value="not">期間指定なし</option>
                                <option th:selected="${form.period == 'week'}" value="week">1週間</option>
                                <option th:selected="${form.period == 'month'}" value="month">1ヶ月</option>
                                <option th:selected="${form.period == 'year'}" value="year">1年</option>
                            </block>
                            <block th:if="${form == null}">
                                <option value="not">期間指定なし</option>
                                <option value="week">1週間</option>
                                <option value="month">1ヶ月</option>
                                <option value="year">1年</option>
                            </block>
                        </select>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-10 mt-2">
                    <block th:if="${totalHitCount != null}">
                        <p th:text="${totalHitCount} + '件が検索にヒットしました。'"></p>
                    </block>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <block th:if="${variableCategoryBeanList != null}">
                        <div class="border p-4 mb-5">
                            <div class="ml-4">
                                <h6>区分</h6>
                                <hr>
                                <tr th:each="variableList: ${variableCategoryBeanList}">
                                    <div class="form-check">
                                        <block th:if="${variableList.level == '1'}">
                                            <input class="form-check-input" name="facetsDoc1"
                                                   th:text="${variableList.codeName}"
                                                   th:value="${variableList.codeName}" type="checkbox">
                                            <label class="form-check-label badge badge-pill badge-secondary"
                                                   th:text="${variableList.counts}"></label>
                                        </block>
                                        <div class="ml-2">
                                            <block th:if="${variableList.level == '2'}">
                                                <input class="form-check-input" name="facetsDoc2"
                                                       th:text="${variableList.codeName}"
                                                       th:value="${variableList.codeName}" type="checkbox">
                                                <label class="form-check-label badge badge-pill badge-secondary"
                                                       th:text="${variableList.counts}"></label>
                                            </block>
                                        </div>
                                    </div>
                                </tr>
                            </div>
                        </div>
                    </block>
                    <block th:if="${variableServiceBeanList != null}">
                        <div class="border p-4">
                            <div class="ml-4">
                                <h6>サービス</h6>
                                <hr>
                                <tr th:each="variableList: ${variableServiceBeanList}">
                                    <div class="form-check">
                                        <block th:if="${variableList.level == '1'}">
                                            <input class="form-check-input" name="facetsService1"
                                                   th:text="${variableList.codeName}"
                                                   th:value="${variableList.codeName}" type="checkbox">
                                            <label class="form-check-label badge badge-pill badge-secondary"
                                                   th:text="${variableList.counts}"></label>
                                        </block>
                                        <div class="ml-2">
                                            <block th:if="${variableList.level == '2'}">
                                                <input class="form-check-input" name="facetsService2"
                                                       th:text="${variableList.codeName}"
                                                       th:value="${variableList.codeName}" type="checkbox">
                                                <label class="form-check-label badge badge-pill badge-secondary"
                                                       th:text="${variableList.counts}"></label>
                                            </block>
                                        </div>
                                        <div class="ml-3">
                                            <block th:if="${variableList.level == '3'}">
                                                <input class="form-check-input" name="facetsService3"
                                                       th:text="${variableList.codeName}"
                                                       th:value="${variableList.codeName}" type="checkbox">
                                                <label class="form-check-label badge badge-pill badge-secondary"
                                                       th:text="${variableList.counts}"></label>
                                            </block>
                                        </div>
                                    </div>
                                </tr>
                            </div>
                        </div>
                    </block>
                </div>
                <div class="col-18 offset-1">
                    <block th:if="${hits} != null">
                        <tr th:each="item, status : ${hits}">
                            <div>
                                <div class="mb-4">
                                    <h4>
                                        <a th:href="${item.pk.id + '/latest'}" th:text="${item.title}"></a>
                                        <!--                            <span class="h6"><a-->
                                        <!--                                    href="${pageContext.request.contextPath}/person/${item.attachedFile01Uuid}/download"><i-->
                                        <!--                                    class="fas fa-file-download ml-2"></i></a></span>-->
                                        <span class="h6">
                                        <a href="search">
                                            <i class="fas fa-file-download ml-2"></i>
                                        </a>
                                    </span>
                                    </h4>
                                </div>
                                <block th:if="${item.contentHighlight != null}">
                                    <p class="" th:utext="${item.contentHighlight}"></p>
                                </block>
                                <!--                                <block th:if="${item.contentHighlight == null}">-->
                                <!--                                    <p class="" th:utext="${item.content}"></p>-->
                                <!--                                </block>-->
                                <p class="" th:utext="${item.bodyHighlight}"></p>
                                <h5>
                                    <p>
                                        <span class="badge badge-pill badge-secondary"
                                              th:text="${item.docCategory1Name}"></span>
                                        <span class="badge badge-pill badge-secondary"
                                              th:text="${item.docCategory2Name}"></span>
                                        <span class="badge badge-pill badge-secondary"
                                              th:text="${item.docService1Name}"></span>
                                        <span class="badge badge-pill badge-secondary"
                                              th:text="${item.docService2Name}"></span>
                                        <span class="badge badge-pill badge-secondary"
                                              th:text="${item.docService3Name}"></span>
                                    </p>
                                </h5>
                            </div>
                            <hr>
                            <br>
                        </tr>
                        <!--                        <div class="mb-4">-->
                        <!--                            <h4>-->
                        <!--                                <a href="1/latest">ピカラ(Pikara)</a><br>-->
                        <!--                                <a href="1/latest" style="font-size: 12pt;">ノートンセキュリティについて.pptx</a>-->

                        <!--                                <span class="h6">-->
                        <!--                                        <a href="search">-->
                        <!--                                            <i class="fas fa-file-download ml-2"></i>-->
                        <!--                                        </a>-->
                        <!--                                             <a href="search">-->
                        <!--                                            <i class="fas fa-file-powerpoint ml-2"></i>-->
                        <!--                                        </a>-->
                        <!--                                    </span>-->
                        <!--                            </h4>-->
                        <!--                        </div>-->

                        <!--                        <p>本ドキュメントは<font color="red">ピカラ</font>の営業マニュアルとして</p>-->

                        <!--                        &lt;!&ndash;                            <span><b>ファイル内容</b></span>&ndash;&gt;-->
                        <!--                        <p>「ノートンセキュリティオンライン」について、<font color="red">ピカラ</font>ではPCやセキュリティ対策として</p>-->
                        <!--                        <h5>-->
                        <!--                            <p>-->
                        <!--                                <span class="badge badge-pill badge-secondary">営業マニュアル</span>-->
                        <!--                                <span class="badge badge-pill badge-secondary">販売マニュアル</span>-->
                        <!--                                <span class="badge badge-pill badge-secondary">通信</span>-->
                        <!--                                <span class="badge badge-pill badge-secondary">インターネット(STIA)</span>-->
                        <!--                            </p>-->
                        <!--                        </h5>-->
                        <!--                        <hr>-->
                        <!--                        <br>-->
                    </block>


                </div>
            </div>
        </form>
    </div>


    <div class="text-center">
        <block th:if="${page} != null">
            <div th:replace="~{fragments/page :: pagination (${page})}"></div>
        </block>
    </div>


    <!-- ここより上にメインコンテンツを記入 -->
    <!--        </div>-->
</section>