<!DOCTYPE html>
<html th:replace="~{/layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- ページタイトルを記入 -->
    <title>ドキュメント</title>
</head>

<body>
<div th:replace="~{/layout/libraries :: datatables}"></div>

<section class="content-header">
    <div class="container">
        <!-- -fluidを外すと横幅が狭くなる-->
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>ドキュメント</h4>
            </div>
            <div class="col-18 text-right">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">

        <div th:replace="~{/fragments/message-panel :: message-panel}"></div>

        <!-- ここより下にメインコンテンツを記入 -->
        <form autocomplete="off" enctype="multipart/form-data" method="get" th:action
              th:object="${DocumentFullSearchForm}">
            <div class="row">
                <div class="col-18 offset-1">
                    <div class="input-group">
                        <input class="form-control" name="q" th:field=*{q} type="text"/>
                        <div class="input-group-append">
                            <button class="btn btn-button py-0">検索</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div> <!-- <div class="row"> -->

    <br>
    <br>
    <div class="row">
        <div class="col-28 pr-5 pl-5">
            <div th:if="${totalHitCount != null}">
                <p th:text="${totalHitCount} + '件が検索にヒットしました。'"> 1件が検索にヒットしました。</p>
            </div>
            <div>
                <tr th:each="item, status : ${hits}">
                    <div class="mb-5">
                        <h4>
                            <a href="${item.id}" th:text="$item.attachedFile01Managed.originalFilename"></a>
                            <span class="h6"><a
                                    href="${pageContext.request.contextPath}/person/${item.attachedFile01Uuid}/download"><i
                                    class="fas fa-file-download ml-2"></i></a></span>
                        </h4>
                        <p class="" th:text="${item.contentHighlight}"></p>
                    </div>
                <tr>
            </div>
            <div class="mx-auto text-center">
                <li th:each="i : ${#pageInfo.sequence(page, 5)}">
                    <a href="@{sample(page=${i-1},size=${page.size})}" th:text="${i}"></a>
                </li>
            </div>
        </div>
        <div class="col-8 p-4">
            <div class="h-100 border-left p-4">
                <div class="ml-4">
                    <h6>ファセット検索</h6>
                    <hr>
                    <c:forEach items="${countsByGenre}" var="code" varStatus="status">
                        <div>
                            ${f:h(CL_SAMPLE[code.key])} <span
                                class="badge badge-pill badge-secondary">${code.value}</span>
                        </div>
                    </c:forEach>
                </div>
            </div>
        </div>
    </div>


    <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>